@import './dist/_normalize.scss',
'./dist/mixins.scss',
'./dist/header.scss';
body {
    position: relative;
}

.portrait {
    img {
        margin-top: 20%;
        width: 200px;
        height: 300px;
        box-sizing: border-box;
        border: 4px solid #fd637e;
        border-radius: 12px;
        background-color: #bab9b0;
        margin: 0 5px;
    }
    .container {
        display: inline-block;
        position: relative;
        margin-top: 10%;
        &::before {
            @include bgSetting(-5px, -63px);
            left: 12px;
            top: -14px;
        }
    }
}

.info {
    .name {
        font-size: 1.7rem;
        margin: .5em 0;
        color: #fed567;
        text-shadow: 0px 2px 1px #fd637e, 0px 1px 2px #fd637e, 0px 1px 3px #fd637e, 0px 1px 4px #fd637e, 0px 1px 5px #fd637e, 0px 1px 6px #fd637e, 0px 1px 7px #fd637e, 0px 1px 8px #fd637e, 0px 1px 9px #fd637e;
        font-weight: bold;
    }
    .des {
        font-size: 1.4rem;
        width: 87%;
        margin: 0 auto;
        color: #fd637e;
        font-weight: bold;
        margin-bottom: 1.4em;
    }
}

.share-part {
    .share-btn,
    .once-again {
        position: relative;
        box-sizing: border-box;
        font-size: 1.5rem;
        width: 8rem;
        height: 3rem;
        line-height: 3rem;
        text-decoration: none;
        display: inline-block;
        outline: none;
        border: 0;
        border-radius: 32px;
        color: #fff;
        background-color: #FED167;
        cursor: pointer;
        font-weight: bold;
    }
    .share-btn {
        margin-right: 10%;
        &::before {
            @include bgSetting(-1px, -10px);
            background-size: 474%;
            left: 1px;
            top: -12px;
        }
    }
    .once-again {
        margin-left: 10%;
        &::before {
            @include bgSetting(-111px, -6px);
            background-size: 479%;
            left: -11px;
            top: -14px;
            height: 39px;
        }
    }
}

.then-info {
	@media(max-height: 570px){
		display: none;
	}
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    height: 3.6em;
    line-height: 3.6em;
    position: absolute;
    bottom: 0;
    background-color: #FEDB80;
    .then-logo {
        @include bgSetting(-111px, -6px);
        width: 50px;
        height: 60px;
        left: 10px;
        background-position: -71px -55px;
        background-size: 320%;
        width: 56px;
    }
    strong{
		margin-left:4em;
		margin-right: 0.8em;
    }
    .download{
    	box-sizing: border-box;
        font-size: 1.5rem;
        width: 6rem;
        height: 3rem;
        line-height: 3rem;
        text-decoration: none;
        display: inline-block;
        outline: none;
        border: 0;
        border-radius: 32px;
        color: #FED167;
        background-color: #fff;
        cursor: pointer;
        font-weight: bold;
         margin: 0 .5em;
    }
}

